<%# The content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
<% } %>

<%# Vehicle details view %>
<% if (vehicle) { %>
    <div class="vehicle-detail">
        <img src="<%= vehicle.inv_image %>" alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %>">
        <ul>
            <li><strong>Make:</strong> <%= vehicle.inv_make %></li>
            <li><strong>Model:</strong> <%= vehicle.inv_model %></li>
            <li><strong>Year:</strong> <%= vehicle.inv_year %></li>
            <li><strong>Description:</strong> <%= vehicle.inv_description %></li>
            <li><strong>Price:</strong> $<%= new Intl.NumberFormat().format(vehicle.inv_price) %></li>
            <li><strong>Mileage:</strong> <%= vehicle.inv_miles %></li>
            <li><strong>Color:</strong> <%= vehicle.inv_color %></li>
        </ul>
    </div>
<% } else { %>
    <p>No details available for this vehicle.</p>
<% } %>
